<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>   
	<bean id="MobilezdService" parent="txProxyTemplate">
		<property name="target">
			<bean class="com.tiancom.pas.mobilezd.MobilezdServiceImpl">
                <property name="ibaseDAO" ref="system.IBaseDAO"/>
                <property name="taskService" ref="Task.TaskService"/>
                <property name="utilServ" ref="proc.QueryUtilService"/>
			</bean>
		</property>
	</bean>	
</beans>