<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<!-- kuang.chun.hua 20170210 -->
<beans>
	<!-- 微信绑定service -->
	<bean id="wxbd.WxbdService" parent="txProxyTemplate">
        <property name="target">
            <bean class="com.tiancom.pas.weixin.wxbd.WxbdServiceImpl">
                 <property name="ibaseDAO" ref="system.IBaseDAO"/>
            </bean>
        </property>
    </bean>
</beans>
